


<%= render @post %>
</div>
<div class="col">
<% @post.pictures.each do |picture| %>
  <%= link_to image_tag(picture, style: "width: 200px; height: 200px"), picture%>
  <%end%>
</div>
 
</div>

</div>
  
  

<h5>    Current Conditions: </h5>
<% @comments.each do |comment| %>
  <%= render 'comments/comment', post: @post, comment: comment %>
<% end %>



  <%= render 'comments/form', post: @post%>

<%= link_to "Back to Trails", posts_path %>

  <%= button_to "Delete", @post, method: :delete, class: "btn btn-danger" %>
</div>
