


<%= render @post %>
</div>
<div class="col">
<% @post.pictures.each do |picture| %>
  <%= link_to image_tag(picture, style: "width: 200px; height: 200px"), picture%>
  <%end%>
</div>
 
</div>
</div>

  
  

<h5>    Current Conditions: </h5>
<% @comments.each do |comment| %>
  <%= render 'comments/comment', post: @post, comment: comment %>
<% end %>


<div class="container">
  <%= render 'comments/form', post: @post%>
</div>

<%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>